examples/GSheets Integration.json
[{"id":"aca0fae5.bc2688","type":"tab","label":"Google Sheets","disabled":false,"info":""},{"id":"7a2655e0.7324bc","type":"mqtt in","z":"aca0fae5.bc2688","name":"","topic":"node/co2-monitor:0/co2-meter/-/concentration","qos":"2","datatype":"auto","broker":"2da2f956.4fb296","x":220,"y":120,"wires":[["665c7d18.08b044"]]},{"id":"5a4a4130.e221f","type":"mqtt in","z":"aca0fae5.bc2688","name":"","topic":"node/co2-monitor:0/thermometer/0:0/temperature","qos":"2","datatype":"auto","broker":"2da2f956.4fb296","x":230,"y":180,"wires":[["2eb30581.ab369a"]]},{"id":"773eecaf.2e91d4","type":"mqtt in","z":"aca0fae5.bc2688","name":"","topic":"node/co2-monitor:0/hygrometer/0:4/relative-humidity","qos":"2","broker":"2da2f956.4fb296","x":240,"y":240,"wires":[["4b1bb408.9eb61c"]]},{"id":"65687690.d432d8","type":"mqtt in","z":"aca0fae5.bc2688","name":"","topic":"node/co2-monitor:0/voc-lp-sensor/0:0/tvoc","qos":"2","datatype":"auto","broker":"b87243c4.ceb37","x":210,"y":300,"wires":[["aff43995.098168"]]},{"id":"8883fb36.224c78","type":"function","z":"aca0fae5.bc2688","name":"Data Parser","func":"msg.payload = flow.get(\"co2\") + \";\" + flow.get(\"temp\") + \";\" +\n              flow.get(\"humidity\") + \";\" + flow.get(\"tvoc\");\nmsg.payload = { val: msg.payload,\n                type: 'rawData'};\n msg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":200,"wires":[["ab5e80c.395618"]]},{"id":"665c7d18.08b044","type":"change","z":"aca0fae5.bc2688","name":"","rules":[{"t":"set","p":"co2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":120,"wires":[["8883fb36.224c78"]]},{"id":"2eb30581.ab369a","type":"change","z":"aca0fae5.bc2688","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":180,"wires":[["8883fb36.224c78"]]},{"id":"4b1bb408.9eb61c","type":"change","z":"aca0fae5.bc2688","name":"","rules":[{"t":"set","p":"humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":240,"wires":[["8883fb36.224c78"]]},{"id":"aff43995.098168","type":"change","z":"aca0fae5.bc2688","name":"","rules":[{"t":"set","p":"tvoc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["8883fb36.224c78"]]},{"id":"6ced1910.98e098","type":"inject","z":"aca0fae5.bc2688","name":"","topic":"","payload":"-1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":480,"wires":[["ba48baf2.e9af08","7385254a.ce567c","79449961.997fa8","765370f9.af3fe"]]},{"id":"ba48baf2.e9af08","type":"change","z":"aca0fae5.bc2688","name":"","rules":[{"t":"set","p":"co2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":380,"wires":[[]]},{"id":"7385254a.ce567c","type":"change","z":"aca0fae5.bc2688","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":420,"wires":[[]]},{"id":"79449961.997fa8","type":"change","z":"aca0fae5.bc2688","name":"","rules":[{"t":"set","p":"humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":460,"wires":[[]]},{"id":"765370f9.af3fe","type":"change","z":"aca0fae5.bc2688","name":"","rules":[{"t":"set","p":"tvoc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":500,"wires":[[]]},{"id":"ab5e80c.395618","type":"http request","z":"aca0fae5.bc2688","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://script.google.com/macros/s/AKfycbxcrWl4MYOafX8h1yLjVC6fLQudRenDmScDApWvedxGkEmDv3I/exec?value={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":300,"wires":[[]]},{"id":"2da2f956.4fb296","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b87243c4.ceb37","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
